<div class="container">
  <h2 *ngIf="!somebodyWins()&&!equality()">It is {{turn}}'s turn</h2>
  <h2 *ngIf="somebodyWins()">{{turn}} wins</h2>
  <h2 *ngIf="equality()">Equality</h2>
  <div class="row">
    <div class="cube" [ngClass]="{'selected-cube': firstRow()||firstColumn()||firstDiag(), 'cube2': !somebodyWins()}" (click)="toggle00()">
      <div class="value">{{values[0][0]}}</div>
    </div>
    <div class="cube" [ngClass]="{'selected-cube': firstRow()||secondColumn(), 'cube2': !somebodyWins()}" (click)="toggle01()">
      <div class="value">{{values[0][1]}}</div>
    </div>
    <div class="cube" [ngClass]="{'selected-cube': firstRow()||thirdColumn()||secondDiag(), 'cube2': !somebodyWins()}" (click)="toggle02()">
      <div class="value">{{values[0][2]}}</div>
    </div>
  </div>

  <div class="row">
    <div class="cube" [ngClass]="{'selected-cube': secondRow()||firstColumn(), 'cube2': !somebodyWins()}" (click)="toggle10()">
      <div class="value">{{values[1][0]}}</div>
    </div>
    <div class="cube" [ngClass]="{'selected-cube': secondRow()||secondColumn()||firstDiag()||secondDiag(), 'cube2': !somebodyWins()}" (click)="toggle11()">
      <div class="value">{{values[1][1]}}</div>
    </div>
    <div class="cube" [ngClass]="{'selected-cube': secondRow()||thirdColumn(), 'cube2': !somebodyWins()}" (click)="toggle12()">
      <div class="value">{{values[1][2]}}</div>
    </div>
  </div>

  <div class="row">
    <div class="cube" [ngClass]="{'selected-cube': thirdRow()||firstColumn()||secondDiag(), 'cube2': !somebodyWins()}" (click)="toggle20()">
      <div class="value">{{values[2][0]}}</div>
    </div>
    <div class="cube" [ngClass]="{'selected-cube': thirdRow()||secondColumn(), 'cube2': !somebodyWins()}" (click)="toggle21()">
      <div class="value">{{values[2][1]}}</div>
    </div>
    <div class="cube" [ngClass]="{'selected-cube': thirdRow()||thirdColumn()||firstDiag(), 'cube2': !somebodyWins()}" (click)="toggle22()">
      <div class="value">{{values[2][2]}}</div>
    </div>
  </div>
  <button (click)="newGame()" class="btn btn-success">New Game</button>
</div>
